@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100%;
  width: 100%;
}
body {
  background: #3a3a3a;
  color: #fff;
  font-family: "Lexend", open-sans;
  /*min-height: 100%;*/
  /*height: auto;*/
  max-width: 100%;
  display: grid;
  /*grid to set up navbar, content, footer*/
  grid-template-rows: 1fr auto;
  overflow-x: hidden;

}
a {
  text-decoration: none;
}

.content {
  width: 100%;
  min-height: 100vh;
  height: auto;
  /*min-height: 100vh;*/
  /*padding: 1vh;*/
  /*flex: 1 0 auto;*/
  /*display: flex;*/
  /*flex-direction: column;*/
}

nav {
  margin: 20px 20px 20px 20px;
  padding: 10px 10px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  z-index: 10;
  /*border-bottom: 1px solid #ddd;*/
}
nav a {
  margin-left: 12px;
}
nav .logo {
  margin-right: auto;
}

.mobileMenu {
  width: 100vw;
}
footer {
  grid-row-start: 2;
  grid-row-end: 3;
  text-align: center;
  padding: 30px 0;
  /*margin-top: 60px;*/
  color: #777;
  border-top: 1px solid #eaeaea;
  /*position: sticky;*/
}

.not-found{
  text-align: center;
}

.not-found a{
  color: #4979ff;
  text-decoration: underline;
}

.landingPage{
  min-height:70vh;
  height: auto;
  z-index: -5;
}


.myHex1{
  max-width:200px;
  position: absolute;
  top: -20em;
  left: 10%;
  /*width: auto;*/

}

.hexPDiv{
  /*max-width:70px;*/
  /*position: absolute;*/
}


.myHex2{
  max-width: 50px;
  position: relative;
  left: 75%;
  top: 0;

}

/*@media screen and (max-width: 675px){*/
/*  .myHex2{*/
/*    left: 80%;*/
/*    top: 20em;*/
/*  }*/
/*}*/

@media screen and (max-width: 1000px){
  .myHex2{
    left: 80%;
    top:12em;
  }

  .myHex1{
    left:5%;
    top: -25em;
  }
}


.projectDiv{
  height:auto;


}

.contactSection{
  height: 60vh;
  background-color: #8affad;
  /*clip-path: url(#svgPath)*/
}
.title-content {

}

.contactme{
  min-height: 10vh;
  height: auto;
}

.title-content__container {
  height: 50px;
  z-index:-20;
}

.blinker {
  color: #8affad;
  margin: 0 1rem;
  /*font-size: 34px;*/

  animation-name: title-opacity;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  z-index: -5;
}
.title-content__container__list {
  animation-name: title-change;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

@keyframes title-opacity {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@keyframes title-change {
  0%,
  15%,
  100% {
    transform: translate3d(0, 36%, 0);
  }
  17%,
  31% {
    transform: translate3d(0, 13%, 0);
  }
  35%,
  47% {
    transform: translate3d(0, -11%, 0);
  }
  51%,
  64% {
    transform: translate3d(0, -35%, 0);
  }
  66.64%,
  79.3% {
    transform: translate3d(0, -13%, 0);
  }
  83.3%,
  95.96% {
    transform: translate3d(0, 12%, 0);
  }
}

.projectForm fieldset{
  border: none;
}

.projectForm svg{
  /*color:white;*/
  visibility: hidden;
}

#demo-simple-select-autowidth{
  /*padding-top:4px*/
  padding: unset;
  min-height: unset;
  display: flex;
  justify-content: center;
  margin: auto;
}

.css-fvipm8{
  color:unset;
}

/*.MuiOutlinedInput-root.MuiInputBase-colorPrimary{*/
/*  color: revert;*/
/*}*/
.MuiOutlinedInput-root {
  /*box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;*/
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 2px 0px, rgba(0, 0, 0, 0.15) 0px 1px 3px 1px;
  /*font-size: unset;*/

}

.MuiMenuItem-root{
  color: white;
  font-size: 2em;
  /*transition: ease-in-out;*/
  /*transition-duration: 500;*/
  /*padding-top: 2em;*/
}

.MuiList-root{
  margin-top: 1em;
}
.MuiPaper-root {
  background-color: rgba(22, 22, 25, 0.95);
  filter: blur(0.7);
  margin-top:0.5em;

}

