@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100%;
}
body {
  background: #fff;
  color: #000;
  font-family: "Lexend", open-sans;
  /*min-height: 100%;*/
  height: auto;
  max-width: 100vw;
  display: grid;
  grid-template-rows: 1fr auto;
  overflow-x: hidden;

}
:root {
  --primary-color: 'black';
  --secondary-color: 'blue';
  --accent-color: 'red';

  --size-8: 0.5rem;
  --size-10: 0.625rem;
  --size-12: 0.75rem;
  --size-14: 0.875rem;
  --size-16: 1.0rem;
  --size-18: 1.125rem;
  --size-20: 1.25rem;
  --size-24: 1.5rem;
  --size-28: 1.75rem;
  --size-30: 1.875rem;
  --size-32: 2rem;
  --size-40: 2.5rem;
  --size-48: 3rem;
  --size-50: 3.125rem;
  --size-56: 3.5rem;
  --size-64: 4rem;
  --size-96: 6rem;
  --size-150: 9.375rem;


}
a {
  text-decoration: none;
}


.content {
  width: 100%;
  min-height: 100%;
  height: auto;
  /*min-height: 100vh;*/
  padding: 1vh;
  /*flex: 1 0 auto;*/
  /*display: flex;*/
  /*flex-direction: column;*/
}

nav {
  margin: 20px 20px 20px 20px;
  padding: 10px 10px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  /*border-bottom: 1px solid #ddd;*/
}
nav a {
  margin-left: 12px;
}
nav .logo {
  margin-right: auto;
}
footer {
  grid-row-start: 2;
  grid-row-end: 3;
  text-align: center;
  padding: 30px 0;
  margin-top: 60px;
  color: #777;
  border-top: 1px solid #eaeaea;
  /*position: sticky;*/
}

.not-found{
  text-align: center;
}

.not-found a{
  color: #4979ff;
  text-decoration: underline;
}
